@{
    ViewBag.Title = "Farma Plus S.A.";
}
<div class="jumbotron">
    <h1>CONTROL DE TRABAJADORES FARMA PLUS S.A.</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>EMPLEADOS</h2>
        <p>
            Aqui es donde se podra ingresar a los trabajadores de la empresa
        </p>

    </div>
    <div class="col-md-4">
        <h2>CITAS</h2>
        <p>En esta seccion es donde se generaran aleatoriamente las citas para cada uno de los empleados registrados</p>

    </div>

</div>
